
  
  
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
*{
    padding: 0;
margin: 0;
}

$bgColor: #ffc244ff;
$paragrapfontfam: 'Quicksand';
$h1fontfam: 'roboto';



@mixin paragraphs(){
    font-family: $paragrapfontfam;
    font-size: 1.5rem;
    text-align: center;

}

@mixin heading{
    $h1fontfam: 'roboto';
    font-size:60px;
    font-weight: 600;

}

@mixin flexCenter(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexAround(){
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}



nav{

    background-color: $bgColor;
    height: 100px;
    @include flexAround()
   
    img{
        height: 50px;
        width: 50px;
    }
    .search-bar{
        padding: 10px;
        border-radius: 20px;
        border: none;
        background-color: #ccc6c7;
    }
    
    a{
        text-decoration: none;
        color: green;
        font-size: 15px;
        margin-left: 15px;
    
        &:hover
        {
            color: red;
            
        }
    }
}




section{
    background-color: $bgColor;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    .left{
        @include flexCenter()
    }
    
   .right{
    p{
        @include paragraphs()
        
    }
    h1{
        @include heading()

    }
   }
}

.options{
    display: flex;
    background-color: white;
    height: 60px;
    width: 95%;
    border-radius: 15px;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    margin-top: 20px;

    .input{
        padding: 5px;
        border: none;
        font-family: 'quicksand';
        font-size: 1.3rem;
        margin-left: 10px;
        
        
    }

    a{
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
        color: green;
    }

    #flag{
        // background-color: green;
        padding: 22px;
        align-items: center;
        background-color: green;
        color: white;
        border-radius: 5px 0 0 5px;

        
      }

      #paperplane{
        padding: 12px;
        align-items: center;
        background-color: green;
        color: white;
        border-radius: 50px

      }
}


